@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');* {
    border: 0px;
    margin: 0px;
    
}
:root{
    --White: hsl(0, 0%, 100%);
    --light-gray : hsl(212, 45%, 89%);
    --grayish-blue: hsl(216, 15%, 48%);
    --dark-blue: hsl(218, 44%, 22%);
}
body{
    background-color:var(--light-gray);

    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img{
    max-width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
}
.c1 {
    display: block;
    font-family:Outfit;
    border-radius: 10px;
    background-color: white;
    width: 320px;
    height:700px
    margin: auto;
    padding-bottom: 20px;

}
#c2{
    width: 250px;
    margin: auto;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    align-items: center;
    align-self: center;
}
#c3{
    width: 250px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    color: rgb(155, 157, 169);
    border-radius: 25px;
    
}
.attribution{
    margin: auto;
    align-items: center;
    display: flex;
}